<header class="header mt-4">
  <div class="title">
    <mat-icon color="primary">currency_exchange</mat-icon>
    <h1>
      Cotação do Dólar:
      <span class="money">{{cotacaoAtual?.precoTexto}} </span>
    </h1>
  </div>
  <p class="subtitle">
    Atualizado em {{cotacaoAtual?.dataTexto}} às {{cotacaoAtual?.hora}}
  </p>
</header>

<main>
  <div role="form" class="form">
    <fieldset>
      <legend>Histórico de cotações</legend>
      <div class="dateRange">
        <div class="formField">
          <label class="mr-3" for="dataInicial">Data inicial:</label>
          <input id="dataInicial" type="date" name="dataInicial" #dataInicial [defaultValue]="startOfMonth"
            [(ngModel)]="dataInicial.value" required [max]="dataFinal.value" />
        </div>
        <div class="formField">
          <label class="mr-3" for="dataFinal">Data final:</label>
          <input id="dataFinal" type="date" name="dataFinal" #dataFinal [defaultValue]="today"
            [(ngModel)]="dataFinal.value" required [max]="today" [min]="dataInicial.value" />
        </div>
      </div>
      <span role="alert" *ngIf="requiredError" class="errorAlert">
        Datas inicial e final são obrigatórias</span>
      <div class="formField">
        <mat-slide-toggle [(ngModel)]="menorAtualChecked" color="primary">Apenas cotações menores que a
          atual</mat-slide-toggle>
      </div>
    </fieldset>
    <button mat-raised-button color="primary" type="submit" class="btnPesquisar"
      (click)="getCotacaoPorPeriodo(dataInicial.value, dataFinal.value)">
      Pesquisar
    </button>
  </div>

  <table mat-table [dataSource]="cotacaoPorPeriodoLista" *ngIf="cotacaoPorPeriodoLista.length > 0">
    <ng-container matColumnDef="dataTexto">
      <th mat-header-cell *matHeaderCellDef>Data - Hora</th>
      <td mat-cell *matCellDef="let element">
        {{element.dataTexto}} - {{element.hora}}
      </td>
    </ng-container>
    <ng-container matColumnDef="precoTexto">
      <th mat-header-cell *matHeaderCellDef>Preço</th>
      <td mat-cell *matCellDef="let element">{{element.precoTexto}}</td>
    </ng-container>
    <ng-container matColumnDef="diferencaTexto">
      <th mat-header-cell *matHeaderCellDef>Diferença</th>
      <td mat-cell *matCellDef="let element"
        [ngClass]="{'money': (element.diferenca > 0), 'negative': (element.diferenca < 0)}">
        {{element.diferencaTexto}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</main>
