<div class="header mt-4">
  <h1>Cotação do Dólar - {{cotacaoAtual}}</h1>
</div>

<div class="buscarPorPeriodo">
  Histórico de cotações
  <label class="mr-3" for="dataInicial">Data inicial:</label>
  <input id="dataInicial" type="date" name="dataInicial" #dataInicial [defaultValue]="startOfMonth"
    [(ngModel)]="dataInicial.value" required [max]="dataFinal.value" />
  <label class="mr-3" for="dataFinal">Data final:</label>
  <input id="dataFinal" type="date" name="dataFinal" #dataFinal [defaultValue]="today" [(ngModel)]="dataFinal.value"
    required [max]="today" [min]="dataInicial.value" />
  <span role="alert" *ngIf="requiredError" class="errorAlert">
    Datas inicial e final são obrigatórias</span>
  <button mat-raised-button color="primary" type="submit" class="btnPesquisar"
    (click)="getCotacaoPorPeriodo(dataInicial.value, dataFinal.value)">
    Pesquisar
  </button>
</div>

<div class="mt-3">
  <div *ngIf="cotacaoPorPeriodoLista.length > 0" class="listaHeader">
    <span class="historicoDeCotacoesItemInfo">Data - Hora</span>
    <span class="historicoDeCotacoesItemInfo">Preço</span>
    <span class="historicoDeCotacoesItemInfo">Diferença</span>
  </div>
  <ul *ngFor="let item of cotacaoPorPeriodoLista">
    <li class="listaHistoricoCotacoesItem">
      <span class="historicoDeCotacoesItemInfo">
        {{item.dataTexto}} - {{item.hora}}
      </span>
      <span class="historicoDeCotacoesItemInfo"> {{item.precoTexto}} </span>
      <span class="historicoDeCotacoesItemInfo"> {{item.diferencaTexto}} </span>
    </li>
  </ul>
</div>
