/* Header */
header {
  text-align: center;

  h1 {
    margin: 0;
    font-size: 2rem;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .subtitle {
    padding-top: 0.5rem;
    color: #666;
  }
}

.money {
  color: green;
}

/* Dolar atual */
.dolarAtual {
  text-align: center;
}

/* Buscar por periodo */
.buscarPorPeriodo {
  text-align: center;
  background-color: aliceblue;
}

.buscarPorPeriodo label,
button {
  margin-left: 20px;
}

/* Alerta de erro */
.errorAlert {
  text-align: center;
  color: red;
}

.mat-table {
  width: 100%;
}
