/* Header */
header {
  text-align: center;

  h1 {
    margin: 0;
    font-size: 2rem;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .subtitle {
    padding-top: 0.5rem;
    color: #666;
  }
}

.money {
  color: green;
}

.negative {
  color: red;
}

/* Dolar atual */
.dolarAtual {
  text-align: center;
}

.form {
  text-align: center;
  background-color: aliceblue;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    legend {
      font-size: 1rem;
      margin: 0;
      padding-bottom: 1.5rem;
    }
  }

  .formField {
    display: grid;

    label {
      justify-self: start;
      margin: 0;
      padding-bottom: 0.25rem;
    }
  }

  .dateRange {
    display: grid;
    grid-auto-flow: column;
    gap: 1.5rem;
  }
}

.errorAlert {
  text-align: center;
  color: red;
}

.mat-table {
  width: 100%;
}
