/* Header */
.header {
  text-align: center;
}

.header h1 {
  font-size: 50px;
}

/* Dolar atual */
.dolarAtual {
  text-align: center;
}

/* Buscar por periodo */
.buscarPorPeriodo {
  text-align: center;
  background-color: aliceblue;
}

.buscarPorPeriodo label,
button {
  margin-left: 20px;
}

/* Alerta de erro */
.errorAlert {
  text-align: center;
  color: red;
}

.mat-table {
  width: 100%;
}
